.list {
  margin: 20px;
  padding: 10px;
  list-style: none;
  border: 1px solid black;
}
.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 5 00px;
}
.item:not(:last-child) {
  margin-bottom: 20px;
}
